# Ejercicios sobre Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_accidentes = pd.read_csv('Nuclear_Incidents.csv', thousands=",")

In [3]:
df_accidentes.rename(columns={"Location ":"Location"}, inplace=True)
df = df_accidentes.copy()
df.insert(1, "Country", [location.split(", ")[-1] for location in df['Location']])
df["Location"] = [location.split(", ")[0:-1] for location in df['Location']]
df["Location"] = [", ".join(location) for location in df['Location']]
df.head(2)

,Date,Country,Location,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES level,Latitude,Longitude
0,29/09/1957,Soviet Union,"Mayak, Kyshtym",Kyshtym disaster,Storage/Handling,NaN,200.0,6.0,55.7131,60.8526
1,10/10/1957,United Kingdom,"Sellafield, Cumberland",Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,54.4167,-3.4833

In [4]:
df["Date"] = pd.to_datetime(df["Date"], format = '%d/%m/%Y')

In [5]:
df = df.fillna(value=0)

In [6]:
df["Numbers of Direct Deaths"] = df["Numbers of Direct Deaths"].astype("int")
df["Numbers of InDirect Deaths"] = df["Numbers of InDirect Deaths"].astype("int")
df["INES level"] = df["INES level"].astype("int")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        28 non-null     datetime64[ns]
 1   Country                     28 non-null     object
 2   Location                    28 non-null     object
 3   Incident                    28 non-null     object
 4   Category                    28 non-null     object
 5   Numbers of Direct Deaths    28 non-null     int32
 6   Numbers of InDirect Deaths  28 non-null     int32
 7   INES level                  28 non-null     int32
 8   Latitude                    28 non-null     float64
 9   Longitude                   28 non-null     float64
dtypes: datetime64[ns](1), float64(2), int32(3), object(4)
memory usage: 2.0+ KB

In [8]:
df["Date"] = df["Date"].dt.year

In [9]:
df = df.rename(columns={"Date":"Year"})

### Ejercicio 1:
* Muestra la cantidad de registros para cada pa√≠s ('Country').

In [15]:
df["Country"].value_counts()

Country
United States     13
Japan              3
Soviet Union       2
United Kingdom     1
Switzerland        1
East Germany       1
Czechoslovakia     1
West Germany       1
Spain              1
Russia             1
Hungary            1
Sweden             1
France             1
Name: count, dtype: int64

In [29]:
reg_pais = df["Country"].value_counts()
reg_pais[reg_pais != 1]

Country
United States    13
Japan             3
Soviet Union      2
Name: count, dtype: int64

### Ejercicio 2:
* Eliminar las columnas 'Longitude', 'Latitude' y 'Location' y mostrar las 2 primeras filas del Dataframe.

In [30]:
del df["Longitude"]
del df["Latitude"]
del df["Location"]

In [31]:
df.head(2)

,Year,Country,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES level
0,1957,Soviet Union,Kyshtym disaster,Storage/Handling,0,200,6
1,1957,United Kingdom,Windscale fire,Operational/Safety Measures,0,240,5

### Ejercicio 3:
* Muestra la cantidad de veces que se repiten los a√±os en la columna 'Date'.

In [33]:
df_accidentes["Date"] = pd.to_datetime(df_accidentes["Date"],dayfirst=True)

In [35]:
df["Year"].value_counts()

Year
1986    4
1957    2
1996    2
1989    2
1987    2
2011    2
1976    1
1979    1
1984    1
1985    1
1975    1
1961    1
1969    1
1992    1
1966    1
1999    1
2002    1
2003    1
2004    1
2006    1
Name: count, dtype: int64

In [36]:
reg_year = df["Year"].value_counts()
reg_year[reg_year != 1]

Year
1986    4
1957    2
1996    2
1989    2
1987    2
2011    2
Name: count, dtype: int64

### Ejercicio 4:
* Crea una nueva columna llamada 'Severity' que sea la suma de las columnas 'INES level' y 'Numbers of Direct Deaths'.

In [ ]:
# df["INES level"] = df["INES level"].fillna(0)
# df["INES level"] = df["INES level"].astype("int")
# df["Numbers of Direct Deaths"] = df["Numbers of Direct Deaths"].fillna(0)
# df["Numbers of Direct Deaths"] = df["Numbers of Direct Deaths"].astype("int")
# df["Numbers of InDirect Deaths"] = df["Numbers of InDirect Deaths"].fillna(0)
# df["Numbers of InDirect Deaths"] = df["Numbers of InDirect Deaths"].astype("int")

In [37]:
df["Severity"] = df["INES level"] + df["Numbers of Direct Deaths"]

In [39]:
del df["Severity"]

### Ejercicio 5:
* Crear un nuevo campo, que se denomine "Total Deaths", que guarde la sumatoria de las columnas 'Numbers of Direct Deaths' y 'Numbers of InDirect Deaths'. Informar el total de muertes para el incidente m√°s grave (mayor 'Total Deaths').

In [44]:
df.insert(6, "Total Deaths", df["Numbers of InDirect Deaths"] + df["Numbers of Direct Deaths"])

In [46]:
df.head()

,Year,Country,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,Total Deaths,INES level
0,1957,Soviet Union,Kyshtym disaster,Storage/Handling,0,200,200,6
1,1957,United Kingdom,Windscale fire,Operational/Safety Measures,0,240,240,5
2,1961,United States,SL-1 prototype explosion,Operator Error,3,0,3,4
3,1966,United States,Fermi 1 Reactor meltdown,Technical Flaws,0,0,0,4
4,1969,Switzerland,"Loss-of-Coolant Accident (January 21, 1969)",Operator Error,0,0,0,4

In [48]:
print("El total de muertes para el incidente m√°s grave es de", df["Total Deaths"].max())

El total de muertes para el incidente m√°s grave es de 4028

### Ejercicio 6:
* Mostrar la cantidad de incidentes nucleares en cada categor√≠a ('Category').

In [49]:
df["Category"].value_counts()

Category
Operator Error                          3
Storage/Handling                        1
Inspection Findings                     1
Natural Disaster/Operational Failure    1
Safety Systems Failure                  1
Steam Explosion                         1
Corrosion Cleaning                      1
Corrosion                               1
Operational/Safety Procedures           1
Equipment Malfunction                   1
Valve Leak                              1
Equipment Rupture                       1
Cooling System Failure                  1
Malfunctions                            1
Operational/Safety Measures             1
Cooling Malfunctions                    1
Equipment Failure                       1
Experimental Operation                  1
Design/Safety Procedures                1
Equipment Problems                      1
Instrumentation Malfunction             1
Safety Violations/Design Problems       1
Operator/Technical Flaws                1
Electrical Error                        1
Technical Flaws                         1
Industrial Accident                     1
Name: count, dtype: int64

In [54]:
reg_inc = df["Category"].value_counts()
reg_inc[reg_inc != 1]

Category
Operator Error    3
Name: count, dtype: int64

### Ejercicio 7:
* Filtrar el DataFrame para mostrar solo los incidentes ocurridos en Estados Unidos ('Pais').

In [55]:
df[df["Country"] == "United States"]

,Year,Country,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,Total Deaths,INES level
2,1961,United States,SL-1 prototype explosion,Operator Error,3,0,3,4
3,1966,United States,Fermi 1 Reactor meltdown,Technical Flaws,0,0,0,4
7,1979,United States,Partial Core Meltdown (Operator Errors),Operator/Technical Flaws,0,0,0,5
8,1984,United States,Browns Ferry Unit 2 Outage (Six-Year,Safety Violations/Design Problems,0,0,0,0
9,1985,United States,Browns Ferry Units Startup Malfunction,Instrumentation Malfunction,0,0,0,0
10,1986,United States,Pilgrim Nuclear Power Plant Emergency Shutdown,Equipment Problems,0,0,0,0
13,1986,United States,Surry Nuclear Power Plant pipe break,Equipment Failure,4,0,4,0
14,1987,United States,Peach Bottom units shutdown,Cooling Malfunctions,0,0,0,0
15,1987,United States,Niagara Mohawk Power Corporation shutdown,Malfunctions,0,0,0,0
16,1989,United States,Calvert Cliff Units extended shutdown,Inspection Findings,0,0,0,0
19,1996,United States,Millstone Nuclear Power Plant shutdown,Valve Leak,0,0,0,0
20,1996,United States,Crystal River Unit 3 shutdown,Equipment Malfunction,0,0,0,0
22,2002,United States,Davis-Besse reactor outage,Corrosion,0,0,0,3

### Ejercicio 8:
* Calcular la cantidad total de muertes directas por incidente nuclear para cada a√±o.

In [56]:
df.groupby(["Year","Incident"])["Numbers of Direct Deaths"].sum()

Year  Incident
1957  Kyshtym disaster                                   0
      Windscale fire                                     0
1961  SL-1 prototype explosion                           3
1966  Fermi 1 Reactor meltdown                           0
1969  Loss-of-Coolant Accident (January 21, 1969)        0
1975  Greifswald Nuclear Power Plant fire                0
1976  Fuel Rod Ejection during Fuel Replacement          2
1979  Partial Core Meltdown (Operator Errors)            0
1984  Browns Ferry Unit 2 Outage (Six-Year               0
1985  Browns Ferry Units Startup Malfunction             0
1986  Chernobyl disaster                                28
      Pilgrim Nuclear Power Plant Emergency Shutdown     0
      Surry Nuclear Power Plant pipe break               4
      THTR-300 reactor                                   0
1987  Niagara Mohawk Power Corporation shutdown          0
      Peach Bottom units shutdown                        0
1989  Calvert Cliff Units extended shutdown              0
      Vandell√≤s nuclear power plant accident             0
1992  Sosnovy Bor nuclear plant accident                 0
1996  Crystal River Unit 3 shutdown                      0
      Millstone Nuclear Power Plant shutdown             0
1999  Tokaimura nuclear accident                         2
2002  Davis-Besse reactor outage                         0
2003  Paks Nuclear Power Plant fuel rod collapse         0
2004  Mihama Nuclear Power Plant explosion               4
2006  Forsmark Nuclear Power Plant electrical fault      0
2011  Fukushima nuclear disaster                         4
      Marcoule Nuclear Site blast                        1
Name: Numbers of Direct Deaths, dtype: int32

In [60]:
df[df["Numbers of Direct Deaths"]!=0].groupby(["Year","Incident"])["Numbers of Direct Deaths"].sum()

Year  Incident
1961  SL-1 prototype explosion                      3
1976  Fuel Rod Ejection during Fuel Replacement     2
1986  Chernobyl disaster                           28
      Surry Nuclear Power Plant pipe break          4
1999  Tokaimura nuclear accident                    2
2004  Mihama Nuclear Power Plant explosion          4
2011  Fukushima nuclear disaster                    4
      Marcoule Nuclear Site blast                   1
Name: Numbers of Direct Deaths, dtype: int32

In [61]:
df[df["Numbers of Direct Deaths"]!=0].groupby("Year")["Numbers of Direct Deaths"].sum()

Year
1961     3
1976     2
1986    32
1999     2
2004     4
2011     5
Name: Numbers of Direct Deaths, dtype: int32

In [81]:
df[df["Numbers of Direct Deaths"]!=0].groupby(["Year","Country","Incident"])["Numbers of Direct Deaths"].sum().sort_values(ascending=False)

Year  Country         Incident
1986  Soviet Union    Chernobyl disaster                           28
      United States   Surry Nuclear Power Plant pipe break          4
2004  Japan           Mihama Nuclear Power Plant explosion          4
2011  Japan           Fukushima nuclear disaster                    4
1961  United States   SL-1 prototype explosion                      3
1976  Czechoslovakia  Fuel Rod Ejection during Fuel Replacement     2
1999  Japan           Tokaimura nuclear accident                    2
2011  France          Marcoule Nuclear Site blast                   1
Name: Numbers of Direct Deaths, dtype: int32

### Ejercicio 9:
* Mostrar la cantidad de incidentes nucleares en cada pa√≠s ('Pais') en los que el nivel INES es mayor a 5.

In [82]:
df[df["INES level"]>5].groupby(["Country","Year","INES level"]).size()

Country       Year  INES level
Japan         2011  7             1
Soviet Union  1957  6             1
              1986  7             1
dtype: int64

In [83]:
df[df["INES level"]>=5].groupby(["Country","Year","INES level"]).size()

Country         Year  INES level
Japan           2011  7             1
Soviet Union    1957  6             1
                1986  7             1
United Kingdom  1957  5             1
United States   1979  5             1
dtype: int64

### Ejercicio 10:
* Calcular la cantidad de muertes directas totales de Estados Unidos.

In [84]:
df[df["Country"]=="United States"]["Numbers of Direct Deaths"].sum()

7

In [87]:
print("United States - ",df.loc[df["Country"]=="United States",["Numbers of Direct Deaths"]].sum())

United States -  Numbers of Direct Deaths    7
dtype: int64

In [88]:
df.to_excel("nuclear.xlsx")

PARA PRACTICAR

In [94]:
# LLAMAR A LAS FILAS 4, 3 Y 1, Y LAS COLUMNAS COUNTRY Y YEAR (y severity que no existe), en ese orden

df.reindex(index=[1], columns=["Country","Severity","Year"],fill_value=1)

          Country  Severity  Year
1  United Kingdom         1  1957

In [89]:
df.groupby(["Country","Year","INES level"]).size()

Country         Year  INES level
Czechoslovakia  1976  4             1
East Germany    1975  3             1
France          2011  0             1
Hungary         2003  3             1
Japan           1999  4             1
                2004  1             1
                2011  7             1
Russia          1992  0             1
Soviet Union    1957  6             1
                1986  7             1
Spain           1989  3             1
Sweden          2006  2             1
Switzerland     1969  4             1
United Kingdom  1957  5             1
United States   1961  4             1
                1966  4             1
                1979  5             1
                1984  0             1
                1985  0             1
                1986  0             2
                1987  0             2
                1989  0             1
                1996  0             2
                2002  3             1
West Germany    1986  0             1
dtype: int64

In [90]:
df.groupby(["INES level","Year","Country"])["Total Deaths"].sum()

INES level  Year  Country
0           1984  United States        0
            1985  United States        0
            1986  United States        4
                  West Germany         0
            1987  United States        0
            1989  United States        0
            1992  Russia               0
            1996  United States        0
            2011  France               1
1           2004  Japan                4
2           2006  Sweden               0
3           1975  East Germany         0
            1989  Spain                0
            2002  United States        0
            2003  Hungary              0
4           1961  United States        3
            1966  United States        0
            1969  Switzerland          0
            1976  Czechoslovakia       2
            1999  Japan                2
5           1957  United Kingdom     240
            1979  United States        0
6           1957  Soviet Union       200
7           1986  Soviet Union      4028
            2011  Japan                4
Name: Total Deaths, dtype: int32

In [91]:
df.groupby(["Country","INES level"])["Total Deaths"].sum()

Country         INES level
Czechoslovakia  4                2
East Germany    3                0
France          0                1
Hungary         3                0
Japan           1                4
                4                2
                7                4
Russia          0                0
Soviet Union    6              200
                7             4028
Spain           3                0
Sweden          2                0
Switzerland     4                0
United Kingdom  5              240
United States   0                4
                3                0
                4                3
                5                0
West Germany    0                0
Name: Total Deaths, dtype: int32